@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
    background: #cde0c9; 
    font-family: 'Montserrat', sans-serif;
    color: #3E363F;
}

#contenedor{
    width: 900px;
    height: 500px;
    text-align: center;
    /* Estas 3 lineas se encargan de centrar el div vertical y horizontalmente */
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
}

#calculadora{
    background: #f2e6cf;
    /* Con estas 3 lineas vamos a hacer que los divs queden lado a lado */
    width: 50%;
    height: 100%;
    float: left;
}

#detalle{
    background: #68b2a0;
    /* Con estas 3 lineas vamos a hacer que los divs queden lado a lado */
    width: 50%;
    height: 100%;
    float: left;
    color: #f6f5f7;
}

.contenido{
    /* Estas tres lineas van a centrar el contenido verticalmente dentro de cada div */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    padding: 40px;
}

input {
	width: 70%;
    padding: 12px 15px;
    border: none;
    background-color: #eee;
}

button {
    font-size: 15px;
	font-weight: bold;
	padding: 12px 45px;
	border-radius: 30px;
	background-color: #68b2a0;
	border: 1px solid #68b2a0;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: transform 20ms ease-in;
    margin: 20px;
}

button:active {
	transform: scale(0.95);
}


#error{
    color: red;
    font-weight: bold;
    display: none;
}

#flu,#man{
    color: #3E363F;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    display: none;
}
#flun {
    color: #3E363F;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}
